.about {
    max-width: 900px;
    margin: 0 auto;
    font-size: 22px;

    img {
        float: left;
        margin: 20px 50px;
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }

    p {
        font-size: 17px;
        margin: 20px;
        color: #777;
    }
}