nav {
    .links {
        text-decoration: none !important;
        color: #ffffff;
    }
}

.my_cart {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 5%;
    border: 3px solid #56CCF2;
    border: 1px solid;
    padding: 4px 15px;
    border-radius: 12px;
    color: #56CCF2;
    font-weight: 500;
    span{
        position: relative;
        top: -10px;
        left: 5px;
        border: 1px solid #56CCF2;
        background-color: #777;
        border-radius: 20px;
        padding: 3px 8px;
    }
}

.header-content {
    background-color: #777;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    min-height: 250px;

    .sub-heading {
        border: 2px solid #56CCF2;
        padding: 15px 30px;
        font-size: 23px;
        font-weight: 400;
        color: white;


    }

    .play-btn {
        cursor: pointer;
        display: block;
        border: 2px solid #56CCF2;
        border-radius: 50%;
        padding: 15px 22px;
        font-size: 30px;
        font-weight: 200;
        margin: 20px auto;
        background: inherit;
        color: #56CCF2;
    }
}