nav {
    background-color: #762009;

    .header {
        font-size: 32px !important;
        font-weight: 600;
    }

    button {
        background-color: #3f1200;
        font-weight: bold;
        border: none;
        outline: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: 40px;
        width: 180px;
        border-radius: 20px;

        span {
            margin: 0px 2px;
        }
        .total-cart-counter{
            background-color: #a5321a;
            margin-top: 3px;
            padding:2px 12px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
}
    }
}